<a href="https://colab.research.google.com/github/IzaqueNunes/rafaballerini/blob/main/projeto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



1.   (EXTRACT) - LENDO 3 DATAFRAMES DIFERENTES
2.   (EXTRACT) - IDENTIFICANDO DADOS FALTANTES
3.   (TRANSFORM) - TRANSFORMANDO OS DADOS PARA A TABELA NÃO POSSUIR DADOS FALTANTES
4.   (LOAD) - GRAVANDO OS NOVOS DADOS EM NOVAS TABELAS

In [ ]:
import pandas as pd

In [ ]:
dfNFL = pd.read_csv('/content/drive/MyDrive/DATAFRAMES/superbowloffensivestats.csv')
dfGOT = pd.read_csv('/content/drive/MyDrive/DATAFRAMES/gameofthrones.csv')
dfNetflix = pd.read_csv('/content/drive/MyDrive/DATAFRAMES/student_data.csv')

In [ ]:
dfNetflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   sex         395 non-null    object
 2   age         395 non-null    int64
 3   address     395 non-null    object
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    object
 9   Fjob        395 non-null    object
 10  reason      395 non-null    object
 11  guardian    395 non-null    object
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    object
 16  famsup      395 non-null    object
 17  paid        395 non-null    object
 18  activities  395 non-null    object
 19  nursery     395 non-null    object
 20  higher      395 non-null    object
 21  internet    395 non-null    object
 22  romantic    395 non-null    object
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  G1          395 non-null    int64
 31  G2          395 non-null    int64
 32  G3          395 non-null    int64
dtypes: int64(16), object(17)
memory usage: 102.0+ KB

In [ ]:
dfGOT.shape

(463, 9)

In [ ]:
dfNetflix.head(100)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,GP,F,15,R,GT3,T,1,1,at_home,other,...,3,1,2,1,1,1,2,7,10,10
96,GP,M,16,R,GT3,T,4,3,services,other,...,3,3,3,1,1,4,2,11,15,15
97,GP,F,16,U,GT3,T,2,1,other,other,...,4,3,5,1,1,5,2,8,9,10
98,GP,F,16,U,GT3,T,4,4,other,other,...,5,3,4,1,2,1,6,11,14,14
99,GP,F,16,U,GT3,T,4,3,other,at_home,...,5,3,5,1,1,3,0,7,9,8

In [ ]:
dfNetflix.isnull().count()

school        395
sex           395
age           395
address       395
famsize       395
Pstatus       395
Medu          395
Fedu          395
Mjob          395
Fjob          395
reason        395
guardian      395
traveltime    395
studytime     395
failures      395
schoolsup     395
famsup        395
paid          395
activities    395
nursery       395
higher        395
internet      395
romantic      395
famrel        395
freetime      395
goout         395
Dalc          395
Walc          395
health        395
absences      395
G1            395
G2            395
G3            395
dtype: int64

In [ ]:
dfGOT.isnull().count()

Region              463
House               463
Sigil               463
Blazon              463
Seat                463
Words               463
Origin              463
Notes               463
Ancestral weapon    463
dtype: int64

In [ ]:
dfNFL.isnull().count()

id                   1019
year                 1019
player               1019
team                 1019
completions          1019
pass_attempts        1019
passing_yards        1019
passing_td           1019
interception         1019
times_sacked         1019
sack_yards           1019
longest_pass         1019
qbr                  1019
rush_attempts        1019
rushing_yards        1019
rushing_td           1019
longest_run          1019
receptions           1019
receiving_yards      1019
receiving_td         1019
longest_reception    1019
fumble               1019
fumbles_lost         1019
dtype: int64

In [ ]:
dfGOT.isnull().count()/len(dfGOT['House'])*100

Region              100.0
House               100.0
Sigil               100.0
Blazon              100.0
Seat                100.0
Words               100.0
Origin              100.0
Notes               100.0
Ancestral weapon    100.0
dtype: float64

In [ ]:
dfNetflixWithoutNaN = dfNetflix.dropna()

In [ ]:
dfNFLWithoutNaN = dfNFL.dropna()

In [ ]:
dfGOTWithoutNaN = dfGOT.dropna()

In [ ]:
dfNetflixWithoutNaN.shape

(395, 33)

In [ ]:
dfNFLWithoutNaN.shape

(59, 23)

In [ ]:
dfGOTWithoutNaN.shape

(0, 9)

DATA FRAME FUTEBOL: COMPARANDO O ANTES E DEPOIS DO DATA FRAME DROPANDO OS DADOS NULOS, VERIFIVAMOS QUE O DATA FRAME DE FUTEBOL AMERICANO PERDEU QUASE TODOS OS DADOS.

DATA FRAME GAME OF TRHONES: EM TODAS AS COLUNAS HAVIA ALGUM DADO FALTANTE, LOGO O DROPNA EXCLUI TODOS OS DADOS.

DATA FRAME ESPORT

In [ ]:
dfNFL['fumbles_lost'].fillna('Nenhum', inplace = True)

In [ ]:
dfGOT['Origin'].fillna('Nenhuma', inplace = True)
dfGOT['Ancestral weapon'].fillna('Nenhuma', inplace = True)
dfGOT['Blazon'].fillna('Nenhuma', inplace = True)
dfGOT['House'].fillna('Nenhuma', inplace = True)
dfGOT['Notes'].fillna('Nenhuma', inplace = True)
dfGOT['Region'].fillna('Nenhuma', inplace = True)
dfGOT['Seat'].fillna('Nenhuma', inplace = True)
dfGOT['Sigil'].fillna('Nenhuma', inplace = True)
dfGOT['Words'].fillna('Nenhuma', inplace = True)

In [ ]:
dfNFLWithoutNaN2 = dfNFL.dropna()
dfNFLWithoutNaN2.shape

(145, 23)

In [ ]:
dfGOTWithoutNaN2 = dfGOT.dropna()
dfGOTWithoutNaN2.shape

(463, 9)

In [ ]:
dfNetflixWithoutNaN2 = dfNetflix.dropna()
dfNetflixWithoutNaN2.shape

(395, 33)